<h1>All Contacts</h1>

<% @contacts.each do |contact| %>
  <div>
    <h2><%= link_to "#{contact.first_name} #{contact.middle_name} #{contact.last_name}", "/contacts/#{contact.id}" %></h2>
    <h3>Email: <%= contact.email %></h3>
    <h3>Phone number: <%= contact.phone_number %></h3>
  </div>
<% end %>

<p> You have <%= @contacts.count %> contacts</p>

<%= button_to "New", "/contacts", method: :post %>