<h1>Contact</h1>

<h1><%= @contact.first_name %> <%= @contact.middle_name %> <%= @contact.last_name %></h1>
<h2>Email: <%= @contact.email %></h2>
<h2>Phone number: <%= @contact.phone_number %></h2>

<%= button_to "Edit", "/contacts/#{@contact.id}/edit", method: :get %>

<%= form_tag "/contacts/#{@contact.id}", method: :delete do %>
  <input type="submit" value="Destroy Product">
<% end %>

